h1
{
    font-size: 30px;
    color: white;
    text-align: center;
}

#navbar
{
    height: 40;
}

#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li
{
    float: left;
    color: white;
    font-size: 40px;
}

#navbar a, #hello
{
    display: block;
    padding: 8px;
}

#navbar img
{
    width: 45px;
    height: 45px;
}

#navbar img:hover
{
    background-color: #000000;
}

#tableBounding
{
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    background-color: #52b4f0;
    border-radius: 25px;
    padding: 20px;
    width: 30%;
    margin: auto;
    margin-top: 30%; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

input
{
    width: 90%;
}

.center
{
    margin: 0 auto;
    width: 30%;
    margin-bottom: 5px;
}

.error, .succes
{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;   
}

.error
{
    color: red;
}