/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 nov. 2019, 14:54:21
    Author     : laptop-masca
*/

body
{
    font-family: "Poppins", sans-serif;
    background-color: #d5efff;
}

#titleBounding
{
    padding: 10px;
    margin-left:40%;
    margin-right:40%;
    margin-top: 2%;
    background-color: #52b4f0;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 25px;
}

h1
{
    font-size: 30px;
    color: white;
    text-align: center;
}

#tableBounding
{
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    background-color: #52b4f0;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 25%; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

#navbar
{
    height: 40;
}

#navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li
{
    float: left;
    color: white;
    font-size: 40px;
}

#navbar a, #hello
{
    display: block;
    padding: 8px;
}

#navbar img
{
    width: 45px;
    height: 45px;
}

#navbar img:hover
{
    background-color: #000000;
}


.selectHeader
{
    width: 100px;
}

table {
    overflow-x:auto;
    border-collapse: collapse;
    text-align: center;
}


th {
    background-color: #52b4f0;
    color: white;
    font-size: 25px;
}

td
{
    font-size: 20px;
}

tr
{
    background-color: white;
}

tr:nth-child(even) 
{
    background-color: #f2f2f2;
}

.btnPerso
{
    margin-top: 10px;
}

.error, .succes
{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;   
}

.error
{
    color: red;
}

.succes
{
    color: green;
}

.link
{
    color: white;
}